.nav{
    display:flex;
    gap:15px;
    /* justify-content: flex-end; */
    align-items: center;
}
.nav li{
    list-style: none;
}
.nav li a{
    color:black;
    text-decoration: none;

}
.nav li a.active{
    color:gold;
}
.link{
    /* text-decoration: none; */
}